<div id="study">
  <div class="page-header">
    <h2>Case Study </h2>
    <small>You will find a shortcut to this page on the desktop</small>
  </div>

  <div class="justify">
    <p>
      Thank you for your interest in our study.
      In the next few minutes you will work on several programing tasks in C#.
    </p>
    <p>
      To get started, you will find a folder called "tasks" on the desktop that contains a solution file (tasks.sln).
      Double-click this file to open the solution in Visual Studio. Find the "General Instructions.txt" file in the
      solution explorer on the right side of the window to receive further instructions.
    </p>
  </div>

  <h4>End Evaluation</h4>
  <p>
    Return to this page when you are done and end the study by clicking the following button.
  </p>

  <button class="btn btn-default" ng-show="vm.buttonCount === 1" ng-click="vm.resetCount()">No. I am not finished yet.</button>
  <button class="btn" ng-class="vm.buttonCount === 0 ? 'btn-default' : 'btn-danger'" ng-click="vm.endStudy()">{{vm.buttonText}}</button>
</div>
