<div id="signup">
  <h1>Sign In</h1>

  <p>Please sign in with the credentials you signed up with to continue the evaluation.</p>

  <form name="signupForm" class="form-horizontal" ng-submit="vm.signin()">
    <div class="form-group">
      <label for="s-email" class="col-sm-3 control-label">Username</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="email" id="s-email" placeholder="Username" ng-model="vm.email" required>
      </div>
    </div>
    <div class="form-group">
      <label for="s-password" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" name="password" id="s-password" placeholder="Password" ng-model="vm.password" required>
      </div>
    </div>



    <div class="alert alert-warning" role="alert">
      <h5>
        The default keyboard layout is english. Change it if you want to in the bottom windows taskbar on the right side.
      </h5>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-5">
        <button type="submit" class="btn btn-default">Sign In</button>
      </div>
    </div>
  </form>
</div>
