<div id="studyintro">
  <div class="page-header">
    <h2>Case Study Introduction</h2>
  </div>

  <div class="">
    <p>
      We would like to test if controlled experiments can be moved to the cloud. To help us answer this question
      you will connect to a virtual machine via a <span class="bold">remote desktop connection (RDP)</span> and answer a questionnaire. The whole process
      will not take longer than 5 to 10 minutes.
    </p>
    <p>
      We are just preparing your user account for the case study which you can access via a
      <a target="_blank" href="https://en.wikipedia.org/wiki/Remote_Desktop_Protocol">remote desktop connection (RDP)</a>.

      Please wait for your credentials, this may take up to 30 seconds.
    </p>
  </div>

  <div class="well well-lg">
    <span us-spinner="{position: 'relative', top: '50px', left: '50%'}" spinner-on="vm.spinnerActive"></span>
    <div ng-hide="vm.spinnerActive">
      <p>
        <span class="bold">Domain / IP:</span> study.cpekesen.de
      </p>
      <p>
        <span class="bold">Username:</span> {{vm.vm.username}}
      </p>
      <p>
        <span class="bold">Password:</span> {{vm.vm.password}}
      </p>
    </div>
  </div>

  <div class="justify">
    <p>
      Please connect to the server now. You will receive further instructions once you are logged in.
    </p>
    <p>
      Please note the following technical information:
    </p>
    <ul>
      <li>
        We do not have a proper SSL certificate for our servers, please ignore the warning of your client.
      </li>
      <li>
        For optimal experience, make sure you configure the connection to use your monitor's native resolution.
      </li>
      <li>
        Technical instructions for <span class="bold">connecting via RDP</span> for
        <a target="_blank" href="http://www.itworld.com/article/2988289/linux/how-to-install-and-use-rdesktop-the-remote-desktop-client-for-linux.html"> Linux</a>,
        <a target="_blank" href="http://www.techrepublic.com/article/pro-tip-remote-desktop-on-mac-what-you-need-to-know/">Mac OS X</a>
        and <a target="_blank" href="https://support.microsoft.com/en-us/help/17463/windows-7-connect-to-another-computer-remote-desktop-connection">Windows</a>.
      </li>
    </ul>
    <p>
      Thank you for your participation in advance.
    </p>
  </div>


  <div class="cancel">
    <h4>Cancel Study</h4>
    <p>If you are not able to participate please help us to understand why this is the case.</p>
    <input type="radio" value="no rdp information" ng-model="vm.cancelInfo.cause"> I did not receive RDP information.<br>
    <input type="radio" value="no rdp client" ng-model="vm.cancelInfo.cause"> I do not have a RDP client.<br>
    <input type="radio" value="connection problem" ng-model="vm.cancelInfo.cause"> I could not connect to the server. <br>
    <input type="radio" value="effort" ng-model="vm.cancelInfo.cause"> Required effort is too high. <br>
    <input type="radio" value="others" ng-model="vm.cancelInfo.cause"> Other cause (please specify): <br>
    <textarea ng-model="vm.cancelInfo.details" ng-show="vm.cancelInfo.cause === 'others'"></textarea><br>

    <button class="btn btn-default" ng-show="vm.buttonCount === 1" ng-click="vm.resetCount()">No. I am not finished yet.</button>
    <button class="btn" ng-class="vm.buttonCount === 0 ? 'btn-default': 'btn-danger'" ng-click="vm.cancelStudy()" ng-disabled="!vm.cancelable()">{{vm.buttonText}}</button>
  </div>

</div>
