<div id="about">
  <div class="page-header">
    <h3>About</h3><small>Bachelor Thesis of Can Pekesen at TU Darmstadt.</small>
  </div>

  <p>
    This website has been implemented for the evaluation of a bachelor thesis.
  </p>
</div>
