<div id="signup">
  <h1>Sign Up</h1>

  <p>
    You will connect to a virtual machine now. Please pick a simple username/password that you can remember. We need this to identify you in the virtual machine.
  </p>

  <form name="signupForm" class="form-horizontal" ng-submit="vm.signup()">
    <div class="form-group">
      <label for="s-email" class="col-sm-3 control-label">Username</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="email" id="s-email" placeholder="Username" ng-model="vm.email" required>
      </div>
    </div>
    <div class="form-group">
      <label for="s-password" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" name="password" id="s-password" placeholder="Password" ng-model="vm.password" required>
      </div>
    </div>

    <div class="alert alert-warning" role="alert">
      <h5>
        Note that the virtual machines will have an english keyboard layout. Please avoid any umlauts like ä, ö, ü, or any other
        characters which are not present in the english keyboard layout in your username and password!
      </h5>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-5">
        <button type="submit" class="btn btn-default">Get Started</button>
      </div>
    </div>
  </form>
</div>
