<nav id="navigation" class="navbar navbar-default" role="navigation" bs-navbar>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="windows.home">CUPS</a>
    </div>
    <ul class="nav navbar-nav">
      <li ui-sref-active="active"><a ui-sref="windows.home">Home</a></li>
      <li ui-sref-active="active" ng-show="vm.user.loggedIn()"><a ui-sref="windows.studyintro">Study Intro</a></li>
      <li ui-sref-active="active" ng-class="vm.isActive('windows.vm.study')" ng-show="vm.user.loggedIn()"><a>Case Study</a></li>
      <li ui-sref-active="active" ng-class="vm.isActive('windows.vm.feedback')" ng-show="vm.user.loggedIn()"><a>Feedback</a></li>
      <li ui-sref-active="active"><a ui-sref="windows.about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <form class="navbar-form" ng-submit="vm.login()">
          <input class="form-control" type="text" placeholder="Username" ng-model="vm.email" ng-hide="vm.user.loggedIn()">
          <input class="form-control" type="password" placeholder="Password" ng-model="vm.password" ng-hide="vm.user.loggedIn()">
          <button type="submit" ng-hide="true"></button>
        </form>
      </li>
      <li><a ng-show="vm.user.loggedIn()">Logged in as: {{vm.user.user.email}}</a></li>

      <li><a href="" ng-click="vm.login()" ng-hide="vm.user.loggedIn()">Login</a></li>
      <li ui-sref-active="active"><a ui-sref="windows.signup" ng-hide="vm.user.loggedIn()">Sign Up</a></li>
      <li><a href="" ng-click="vm.logout()" ng-show="vm.user.loggedIn()">Logout</a></li>
    </ul>
  </div>
</nav>
