<div id="study">
  <div class="page-header">
    <h2>Case Study</h2>
  </div>

  <div class="justify">
    <p>
      Congratulations! You've made it. This study had just the goal to proof that our concept of shifting case studies to the cloud is OS independent.
    </p>
    <p>
      Please click "Next" and fill out the questionnaire on the next site. When you are done click "Submit".
    </p>
  </div>

  <button class="btn btn-default" ng-click="vm.next()">Next</button>
</div>
