<div id="home">

  <div class="page-header">
    <h1>CUPS</h1>
    <h3>A {C}rowdsourceable {U}niversal {P}latform for Empirical {S}tudies</h3>
  </div>

  <p>
    Empirical studies have been conducted in research for a long time. While many evaluations rely on techniques
    like interviews or questionnaires, any hypothesis about the usage of computer programs and tools has to be evaluated
    with more advanced methods which offer a greater degree of control and observation. These methods imply a longer
    setup phase and are generally better suited for smaller experiments under laboratory conditions.
  </p>
  <p>
    With our new concept we try to shift such evaluations to the cloud by providing preconfigured virtual machines to each
    participant. The goals of this concept are to provide a framework with which it should be possible to easily and quickly
    conduct studies without the need of building up an own one consuming a large amount of time. Another huge benefit is that
    while the evaluation is conducted online it also can be crowdsourced. The pros and contras of crowdsourcing can be found online.
  </p>
  <p>
    <img class="overview" ng-src="dist/images/cupsOverview.png">
  </p>
  <p>
    We have implemented this concept and called our framework CUPS.  The core elements of the implementation are shown in the above diagram.
    Now we want to evaluate the viability of such studies with CUPS.
    Therefore we prepared a little <a target="_blank" href="http://study.cpekesen.de/tud/windows">Case Study</a> for you and count on your help with this evaluation.
    After signing up you will be guided through the evaluation.
  </p>

  <button class="btn btn-default" ng-click="vm.go('windows.signup')" ng-hide="vm.user.loggedIn()">Sign Up</button>

</div>
