<div id="signup">
  <h1>Sign Up</h1>

  <p>
    To participate in our study you have to sign up. Please provide credentials you can remember and confirm our disclaimer.
  </p>
  <div class="well well-lg col-sm-12">
    <p class="italic bold">Disclaimer</p>
    <br>
    <ul>
      <li>
        We track your interactions during study and provide a <a target="_blank" href="http://www.kave.cc/documentation/event-generation">detailed explanation</a> of everything we capture.
      </li>
      <li>
        We do not include any personal information in the interactions.
      </li>
      <li>
        It is your responsibility to verify that the interactions you submit do not contain anything you don't want to share.
      </li>
      <li>
        We cannot identify your interactions after the study so you have no way of revoking any of it.
      </li>
      <li>
        We plan to include your interactions in a public dataset that is part of scientific publications.
      </li>
    </ul>
  </div>

  <form name="signupForm" class="form-horizontal" ng-submit="vm.signup()">
    <div class="form-group">
      <label for="s-email" class="col-sm-3 control-label">Username</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="email" id="s-email" placeholder="Username" ng-model="vm.email" required>
      </div>
    </div>
    <div class="form-group">
      <label for="s-password" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" name="password" id="s-password" placeholder="Password" ng-model="vm.password" required>
      </div>
    </div>

    <div class="alert alert-warning" role="alert">
      <h5>
        Note that the virtual machines will have an english keyboard layout. Please avoid any umlauts like ä, ö, ü, or any other
        characters which are not present in the english keyboard layout in your username and password!
      </h5>
    </div>

    <p class="col-sm-offset-3">
      <input type="checkbox" required>
      I carefully read the disclaimer, fully understand its implications, and confirm my agreement to it.
    </p>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-5">
        <button type="submit" class="btn btn-default">Sign up</button>
      </div>
    </div>
  </form>
</div>
