<div id="feedback">



  <div class="page-header">
    <h2>Questionnaire</h2>
  </div>




  <form class="form-horizontal form-label-align-left" ng-submit="vm.submit()">


    <div class="bold">General</div>
    <div class="topic-divider"></div>
    <div class="intro">
      Our goal with this case study is to find out if the concept and the implemented technologies are viable for
      online studies. Please help us with answering the following questions:
    </div>

    <div class="form-group new-question" ng-init="vm.feedback.rdp.prior = '0'">
      <div class="flex-container">
        <div class="flex-item-question">
          <div>
            &nbsp;
          </div>
          <div>
            Do you ever connected via RDP to a server before?
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            No Answer
          </div>
          <div>
            <label>
              <input type="radio" value="0" ng-model="vm.feedback.rdp.prior">
            </label>
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            Yes
          </div>
          <div>
            <label>
              <input type="radio" value="1" ng-model="vm.feedback.rdp.prior">
            </label>
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            No
          </div>
          <div>
            <label>
              <input type="radio" value="2" ng-model="vm.feedback.rdp.prior">
            </label>
          </div>
        </div>
      </div>
    </div>



    <div class="form-group new-question" ng-init="vm.feedback.rdp.difficulty = '0'">
      <div class="flex-container">
        <div class="flex-item-question">
          <div>
            &nbsp;
          </div>
          <div>
            How difficult was it to connect to the server?
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            No Answer
          </div>
          <div>
            <label>
              <input type="radio" value="0" ng-model="vm.feedback.rdp.difficulty">
            </label>
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            Very Difficult
          </div>
          <div>
            <label>
              <input type="radio" value="1" ng-model="vm.feedback.rdp.difficulty">
            </label>
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            Difficult
          </div>
          <div>
            <label>
              <input type="radio" value="2" ng-model="vm.feedback.rdp.difficulty">
            </label>
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            Neutral
          </div>
          <div>
            <label>
              <input type="radio" value="3" ng-model="vm.feedback.rdp.difficulty">
            </label>
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            Easy
          </div>
          <div>
            <label>
              <input type="radio" value="4" ng-model="vm.feedback.rdp.difficulty">
            </label>
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            Very Easy
          </div>
          <div>
            <label>
              <input type="radio" value="5" ng-model="vm.feedback.rdp.difficulty">
            </label>
          </div>
        </div>
      </div>
    </div>





    <div class="form-group new-question" ng-init="vm.feedback.workflow = '0'">
      <div class="flex-container">
        <div class="flex-item-question">
          <div>
            &nbsp;
          </div>
          <div>
            How did you like the workflow of this study? <br>
            <span class="italic">i.e.</span>
            signing up, connecting to the virtual machine, loging in, etc.
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            No Answer
          </div>
          <div>
            <label>
              <input type="radio" value="0" ng-model="vm.feedback.workflow">
            </label>
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            Very Poor
          </div>
          <div>
            <label>
              <input type="radio" value="1" ng-model="vm.feedback.workflow">
            </label>
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            Poor
          </div>
          <div>
            <label>
              <input type="radio" value="2" ng-model="vm.feedback.workflow">
            </label>
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            Acceptable
          </div>
          <div>
            <label>
              <input type="radio" value="3" ng-model="vm.feedback.workflow">
            </label>
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            Good
          </div>
          <div>
            <label>
              <input type="radio" value="4" ng-model="vm.feedback.workflow">
            </label>
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            Very Good
          </div>
          <div>
            <label>
              <input type="radio" value="5" ng-model="vm.feedback.workflow">
            </label>
          </div>
        </div>
      </div>
    </div>







    <div class="form-group new-question"
         ng-init="vm.feedback.rdp.opinion.linux = '0'; vm.feedback.rdp.opinion.windows = '0'; vm.feedback.rdp.opinion.mac = '0'; ">
      <div class="flex-container">
        <div class="flex-item-question">
          <div>
            &nbsp;
          </div>
          <div>
            How difficult do you think is it in general to connect to a server via RDP ...
          </div>
        </div>

        <div class="flex-item">
          <div class="option-description">
            No Answer
          </div>
          <div>
            &nbsp;
          </div>
        </div>

        <div class="flex-item">
          <div class="option-description">
            Very Difficult
          </div>
          <div>
            &nbsp;
          </div>
        </div>

        <div class="flex-item">
          <div class="option-description">
            Difficult
          </div>
          <div>
            &nbsp;
          </div>
        </div>

        <div class="flex-item">
          <div class="option-description">
            Neutral
          </div>
          <div>
            &nbsp;
          </div>
        </div>

        <div class="flex-item">
          <div class="option-description">
            Easy
          </div>
          <div>
            &nbsp;
          </div>
        </div>

        <div class="flex-item">
          <div class="option-description">
            Very Easy
          </div>
          <div>
            &nbsp;
          </div>
        </div>
      </div>

      <div class="flex-container">

        <div class="flex-item-question">
          <div class="right">
            ... with a Linux client
          </div>

          <div class="right">
            ... with a Windows client
          </div>

          <div class="right">
            ... with a Mac OS X client
          </div>
        </div>

        <div class="flex-item">
          <div>
            <label>
              <input type="radio" value="0" ng-model="vm.feedback.rdp.opinion.linux">
            </label>
          </div>

          <div>
            <label>
              <input type="radio" value="0" ng-model="vm.feedback.rdp.opinion.windows">
            </label>
          </div>

          <div>
            <label>
              <input type="radio" value="0" ng-model="vm.feedback.rdp.opinion.mac">
            </label>
          </div>
        </div>

        <div class="flex-item">
          <div>
            <label>
              <input type="radio" value="1" ng-model="vm.feedback.rdp.opinion.linux">
            </label>
          </div>
          <div>
            <label>
              <input type="radio" value="1" ng-model="vm.feedback.rdp.opinion.windows">
            </label>
          </div>
          <div>
            <label>
              <input type="radio" value="1" ng-model="vm.feedback.rdp.opinion.mac">
            </label>
          </div>
        </div>

        <div class="flex-item">
          <div>
            <label>
              <input type="radio" value="2" ng-model="vm.feedback.rdp.opinion.linux">
            </label>
          </div>
          <div>
            <label>
              <input type="radio" value="2" ng-model="vm.feedback.rdp.opinion.windows">
            </label>
          </div>
          <div>
            <label>
              <input type="radio" value="2" ng-model="vm.feedback.rdp.opinion.mac">
            </label>
          </div>
        </div>

        <div class="flex-item">
          <div>
            <label>
              <input type="radio" value="3" ng-model="vm.feedback.rdp.opinion.linux">
            </label>
          </div>
          <div>
            <label>
              <input type="radio" value="3" ng-model="vm.feedback.rdp.opinion.windows">
            </label>
          </div>
          <div>
            <label>
              <input type="radio" value="3" ng-model="vm.feedback.rdp.opinion.mac">
            </label>
          </div>
        </div>

        <div class="flex-item">
          <div>
            <label>
              <input type="radio" value="4" ng-model="vm.feedback.rdp.opinion.linux">
            </label>
          </div>
          <div>
            <label>
              <input type="radio" value="4" ng-model="vm.feedback.rdp.opinion.windows">
            </label>
          </div>
          <div>
            <label>
              <input type="radio" value="4" ng-model="vm.feedback.rdp.opinion.mac">
            </label>
          </div>
        </div>

        <div class="flex-item">
          <div>
            <label>
              <input type="radio" value="5" ng-model="vm.feedback.rdp.opinion.linux">
            </label>
          </div>
          <div>
            <label>
              <input type="radio" value="5" ng-model="vm.feedback.rdp.opinion.windows">
            </label>
          </div>
          <div>
            <label>
              <input type="radio" value="5" ng-model="vm.feedback.rdp.opinion.mac">
            </label>
          </div>
        </div>

      </div>
    </div>




    <div class="bold new-question">Limitations</div>
    <div class="topic-divider"></div>
    <div class="intro">
      While shifting such studies to the cloud some control over the experiment gets lost.
      The most important thing is that we can not prevent the participants from looking up the answers on potential tasks in the internet.
      We try to stem this by configuring the firewall on the virtual machines, so that no outgoing connections are allowed.
      However it is impossible to intercept that the participant searches the internet on his own host machine.
      The only thing we can do is to ask the participants not to go back to their machine and search the internet while the evaluation.
    </div>



    <div class="form-group new-question" ng-init="vm.feedback.limitations.request = '0'">
      <div class="flex-container">
        <div class="flex-item-question">
          <div>
            &nbsp;
          </div>
          <div>
            Would you follow this request?
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            No Answer
          </div>
          <div>
            <label>
              <input type="radio" value="0" ng-model="vm.feedback.limitations.request">
            </label>
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            Yes
          </div>
          <div>
            <label>
              <input type="radio" value="1" ng-model="vm.feedback.limitations.request">
            </label>
          </div>
        </div>
        <div class="flex-item">
          <div class="option-description">
            No
          </div>
          <div>
            <label>
              <input type="radio" value="2" ng-model="vm.feedback.limitations.request">
            </label>
          </div>
        </div>
      </div>
    </div>



    <div class="form-group new-question">
      <div class="col-sm-12">
        <span class="bold">Comments / Suggestions</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <textarea class="form-control" ng-model="vm.feedback.comments" name="question7"></textarea>
      </div>
    </div>






    <div class="alert alert-warning" role="alert">
      <h4>Thank you for your participation! You will automatically be disconnected from the VM after clicking on "Submit".</h4>
    </div>



    <div class="form-group fb-submit">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>

</div>
