#feedback {
  .new-question {
    padding-top: 40px;
  }


  .option-description {
    font-style: italic;
    font-size: 16px;
  }

  .fb-submit {
    padding-top: 30px;
  }

  .alert {
    margin-top: 30px;
    padding-top: 20px;
  }

  textarea {
    max-width: 100%
  }

  .intro {
    margin-top: 10px;
  }

  .topic-divider {
    height: 1px;
    width: 60%;
    display: block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: black;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .flex-item-basis {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .flex-item {
    .flex-item-basis;

    flex-basis: 120px;
    min-width: 120px;

    padding-left: 10px;
    padding-right: 10px;
  }

  .flex-item-question {
    .flex-item-basis;

    padding-right: 10px;

    flex-basis: 300px;
    min-width: 300px;
    max-width: 300px;
  }

  .right {
    text-align: right;
  }
}
