@import "bootstrap";
@import (less) "../../node_modules/angular-motion/dist/angular-motion.css";
@import (less) "../../node_modules/bootstrap-additions/dist/bootstrap-additions.css";
@import (less) "../../node_modules/bootstrap/less/theme.less";
@import "flag-icon";
@import "navigation";
@import "variables";
@import "signup";
@import "study";
@import "studyintro";
@import "feedback";


// Bootstrap fixes
input[type="checkbox"] {
  margin: 8px 0 0;
}

html, body {
  height: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  //font-size: 20px;
}

body {
  background-color: lavender;
}

.content {
  padding: @app-side-padding-mobile;

  @media (max-width: @screen-xs-max) {
    padding-bottom: 100px;
  }
  @media (min-width: @screen-sm-min) {
    padding-left: @app-side-padding;
    padding-right: @app-side-padding;
  }
}

.page-header {
  border-bottom: none;
}

.justify {
  text-align: justify;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.logo {
  max-width: 400px;
}

.overview {
  max-width: 750px;
}
