#navigation {
  .container-fluid {
    background-color: ghostwhite;
  }

  .navbar-nav > .active > a {
    background-image: linear-gradient(to bottom, lavender -100%, ghostwhite 100%);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  }
}
