#study {
  h4 {
    margin-top: 30px;
  }

  h5 {
    margin-top: 30px;
  }

  ol > li {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .well {
    min-height: 150px;
  }

  .btn {
    margin-top: 20px;
    min-width: 100%;
  }
}
